# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: .md$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: init
        name: init
        entry: task init
        language: system
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: task lint
        language: system
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: plan
        name: plan
        entry: task plan
        language: system
        pass_filenames: false
        always_run: true
